<% if(success && success.length) {%> <!-- Check if 'success' exists and has content -->
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success %> <!-- Display the success message -->
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>
    
    <% if(error && error.length) {%> <!-- Check if 'error' exists and has content -->
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= error %>  <!-- Display the error message -->
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>