<footer class="footer py-5 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a class="quick-link" href="/musicspace/home">Home</a></li>
                    <li><a class="quick-link" href="/musicspace/albums">Albums</a></li>
                    <li><a class="quick-link" href="https://www.ticketmaster.com.au/browse/rock-and-pop-catid-1/music-rid-10001/all-of-australia-dma-701" target="_blank">AU Music Events</a></li>
                    <!-- Add more links as needed -->
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contact Us</h5>
                <p class="p-footer">Email: info@musicspace.com</p>
                <p class="p-footer">Phone: 123-456-7890</p>
            </div>
            <div class="col-md-3">
                <h5>Follow Us</h5>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <!-- Add more social media icons as needed -->
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Our Partners</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.aias.edu.au/" target="_blank">
                            <img src="/images/AIAS-logo.png" alt="School Logo" class="img-fluid partner-logo">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container text-center mt-4">
        <span class="text-white-50">&copy; MUSIC SPACE 2024. All Rights Reserved.</span>
    </div>
</footer>
