<% layout('layouts/boilerplate') %>
<div class="container mt-5">
    <h2>Song Lyrics</h2>
    <div class="lyrics">
        <pre><%= lyrics %></pre>
    </div>
    <a href="/musicspace/albums" class="btn btn-primary mt-3">Back to Albums</a>
</div>
